.username-body {
    display: flex;
    align-items: center;
    height: 87vh;
    width: 100vw;
    overflow: hidden;
    grid-template-columns: repeat(2, 50vw);
    background-color: #000000;
}

.username-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 87vh;
    color: white;
    z-index: 99;
}

#username-wrapper {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.username-entry {
    display: flex;
    padding: 5vw;
    max-width: 70%;
    flex-direction: column;
    background-color: #ffffff1A;
}

#username-header {
    font-style: bold;
    font-size: 1.7em;
    margin-bottom: 2vh;
    font-weight: 700;
    max-width: 100%;
}

#game-description {
    max-width: 90%;
    font-style: italic;
    margin-bottom: 4vh;
    font-weight: 100;
}

#username-info {
    margin-bottom: 2vh;
}

#uname {
    margin-bottom: 2vh;
    max-width: 85%;
    border: none;
    border-style: none;
    height: 4vh;
    font-size: larger;
    background-color: #ffffff1a;
    color: #ffffff
}

#launch {
    max-width: 85%;
    border: none;
    border-style: none;
    border-radius: 16px;
    height: 4vh;
    background-image: linear-gradient(to right, #790905, #ca120c);
    color: white;
    font-size: larger;
    cursor: pointer;
    box-shadow: 0px 5px 5px black;
}

#launch:hover {
    transform: brightness(80%)
}

.splash-panel {
    height: 85vh;
    width: 65vw;
    display: flex;
    position: relative;
    justify-content: right;
    background-image: url("../assets/img/theme/char-group.jpg");
    /* background-image: url("../assets/img/theme/blank.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ca120c;
}

h1 {
    color: white;
    position: absolute;
    width: 100%;
    margin: 0;
    font-family: "poster-gothic-round-atf", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5em;
}

h2 {
    position: absolute;
    font-family: "franklin-gothic-atf", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2em;
    color: white;
    width: 100%;
    text-align: right;
    padding-right: 1vw;
}

#tag-a {
    bottom: 10vh;
}

#tag-b {
    bottom: 5vh;
    font-weight: bold;
}

.blank {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 10%;
}

@media screen and (max-width: 1200px) {
    .username-body {
        justify-content: center;
    }

    .username-panel {
        width: 90vw;
        position: absolute;
        height: 80vh;
        align-items: center;
        justify-content: center;
    }

    .username-entry {
        justify-content: center;
        width: 90vw;
        height: 60vh;
        margin: 0;
        padding-left: 12vw;
        padding-right: 12vw;
        background-color: #000000ef;
        z-index: 99;
    }

    #username-header {
        font-size: 1.4em;
    }

    .splash-panel {
        width: 100vw;
    }

    h1 {
        text-align: center;
    }

    h2 {
        font-size: 1.2em;
    }

    #uname {
        max-width: 90%;
    }
    
    #launch {
        max-width: 90%;
    }

    #username-wrapper {
        height: 100%;
        width: 98%;
    }
}