.game-launch-body {
    display: flex;
    align-items: center;
    height: 87vh;
    width: 100vw;
    overflow: hidden;
    grid-template-columns: repeat(2, 50vw);
    background-color: #000000;
}

.game-launch-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 85vh;
    color: white;
    z-index: 99;
}

#game-launch-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255, 0, 0, 0.288), rgb(0, 0, 0));
}

.game-launch-entry {
    display: flex;
    padding: 5vw;
    max-width: 70%;
    flex-direction: column;
    /* background-color: #ffffff1A; */
}

#game-launch-header {
    font-style: bold;
    font-size: 2vw;
    margin-bottom: 4vh;
    font-weight: 700;
    max-width: 100%;
    /* background-color: #ca120c; */
}

.game-option-txt {
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    font-size: 2vw;
    height: 8vh;
    
}
#game-search-wrapper {
    display: flex;
    align-items: center;
    height: 4vh;
    max-width: 100%;
    display: none;
}
#game-id-field {
    border: none;
    border-style: none;
    height: 4vh;
    width: 70%;
    font-size: larger;
    background-color: #ffffff1a;
    color: #ffffff;
    
}

#search {
    height: 100%;
    width: 30%;
    border: none;
    border-style: none;
}
.game-choice {
    position: absolute;
    transform: scale(2);
    right: 0;
    margin: 0;
    padding: 0;
}

#launch {
    margin-top: 4vh;
    max-width: 100%;
    border: none;
    border-style: none;
    border-radius: 16px;
    height: 4vh;
    background-image: linear-gradient(to right, #790905, #ca120c);
    color: white;
    font-size: larger;
    cursor: pointer;
    box-shadow: 0px 5px 5px black;
    display: none;
}

#next-info {
    margin-top: 3vh;
    opacity: 50%;
    max-width: 100%;
    text-align: center;
}

.splash-panel {
    height: 85vh;
    width: 65vw;
    display: flex;
    position: relative;
    justify-content: right;
    background-image: url("../assets/img/theme/backdrop.jpg");
    /* background-image: url("../assets/img/theme/blank.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 20%;
    /* background-color: #ca120c; */
}



.blank {
    height: 100%;
    width: auto;
    object-fit: contain;
    opacity: 10%;
}

@media screen and (max-width: 1200px) {
    .game-launch-body {
        justify-content: center;
    }
    #game-launch-wrapper {
        background-image: none;
        height: 100%;
        width: 98%;
    }
    .game-launch-panel {
        width: 90vw;
        position: absolute;
        height: 80vh;
        align-items: center;
        justify-content: center;
        
    }

    .game-launch-entry {
        justify-content: center;
        margin: 0;
        background-color: #000000;
        z-index: 99;
    }

    #game-launch-header {
        font-size: 4vw;
    }
    .game-option-txt {
        font-size: 4vw;
    }
    .splash-panel {
        width: 100vw;
    }

    #uname {
        max-width: 90%;
    }
    
    #launch {
        max-width: 90%;
    }

}