.char-select-body {
    display: flex;
    align-items: center;
    height: 87vh;
    width: 100vw;
    overflow: hidden;
    grid-template-columns: repeat(2, 50vw);
    background-color: #000000;
}

.char-select-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35vw;
    height: 85vh;
    color: white;
    z-index: 99;
}

#char-select-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(rgba(255, 0, 0, 0.288), rgb(0, 0, 0)); */
}

.char-select-entry {
    display: flex;
    padding: 5vw;
    max-width: 70%;
    flex-direction: column;
    background-color: #ffffff1A;
}

#char-select-header {
    font-style: bold;
    font-size: 2vw;
    margin-bottom: 2vh;
    font-weight: 700;
    max-width: 100%;
    /* background-color: #ca120c; */
}
#character-div {

}
.char {
    height: 6vw;
    width: auto;
    margin: 0.5vw;
    cursor: pointer;
    border-radius: 100%;
    border: 3px solid rgba(0, 0, 0, 0);
}
#launch-game {
    margin-top: 4vh;
    max-width: 100%;
    border: none;
    border-style: none;
    border-radius: 16px;
    height: 4vh;
    background-image: linear-gradient(to right, #790905, #ca120c);
    color: white;
    font-size: larger;
    cursor: pointer;
    box-shadow: 0px 5px 5px black;
    /* visibility: hidden; */
}

#next-info {
    margin-top: 3vh;
    opacity: 50%;
    max-width: 100%;
    text-align: center;
}

.splash-panel-B {
    height: 85vh;
    width: 65vw;
    display: flex;
    position: relative;
    justify-content: right;
    /* background-image: url("../assets/img/theme/backdrop.jpg"); */
    /* background-image: url("../assets/img/theme/blank.png"); */
    background-repeat: no-repeat;
    background-size: cover;
    /* opacity: 20%; */
    /* background-color: #ca120c; */
}
#back-drop {
    height: 100%;
    width: 100%;
    opacity: 20%;
}
#murder {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: unset;
    

}

#invite-img {
    height: 40%;
    width: auto;
    margin-right: 5vw;
    transform: rotate(-5deg);
    margin-top: 5vh;
    margin-bottom: 5vh;
    
}
#murder-heading {
    font-family: "inglesa-caps-variable", sans-serif;
    font-variation-settings: "wght" 600;
    font-size: 2.5vw;
    margin: 1.5vh;
    color: white;
}
#murder-intro {
    margin-left: 3vw;
    margin-right: 3vw;
    color: white;
    font-size: 1.2vw;
    text-align: center;
    width: 70%;
}
#murdered {
    color: red;
}

@media screen and (max-width: 1200px) {
    .char-select-body {
        justify-content: right;
    }
    #char-select-wrapper {
        background-image: none;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .char-select-panel {
        width: 100%;
        position: absolute;
        height: 80%;
        align-items: center;
        justify-content: center;
    }

    .char-select-entry {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        height: 70%;
        width: 96%;
        margin: 0;
        background-color: #000000;
        z-index: 99;
    }
    .char {
        height: 16vw;
        width: auto;
        margin: 1.8vw;
    }
    #char-select-header {
        font-size: 6vw;
    }
    #launch-game {
        width: 100%;
    }
    #murder {
        display: none;
    }

    #back-drop {
        height: 100%;
        width: auto;
    }

}